<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>
        <allow roles="StoreClerks"/>
        <allow roles="StoreManagers"/>
        <allow roles="StoreSupervisors"/>
        <deny users="*"/>
        <deny users="?"/>        
      </authorization>
    </system.web>
</configuration>
