/* 
	Blue Dream
	Written by Teylor Feliz  http://www.admixweb.com
*/


table.screenFriendlyGridView 
{
    background: #D3E4E5;
    border: 1px solid gray;
    border-collapse: collapse;
    color: #fff;
    font: normal 10pt arial, helvetica, sans-serif;
}
table.screenFriendlyGridView caption
{
    border: 1px solid #5C443A;
    color: #5C443A;
    font-weight: bold;
    letter-spacing: 20px;
    padding: 6px 4px 8px 0px;
    text-align: center;
    text-transform: uppercase;
}
table.screenFriendlyGridView td, table.screenFriendlyGridView th
{
    color: #363636;
    padding: .4em;
}
table.screenFriendlyGridView tr
{
    border: 1px dotted gray;
}
table.screenFriendlyGridView thead th, table.screenFriendlyGridView tfoot th
{
    background: #5C443A;
    color: #FFFFFF;
    padding: 3px 10px 3px 10px;
    text-align: left;
    text-transform: uppercase;
}
table.screenFriendlyGridView tbody td a
{
    color: #363636;
    text-decoration: none;
}
table.screenFriendlyGridView tbody td a:visited
{
    color: gray;
    text-decoration: line-through;
}
table.screenFriendlyGridView tbody td a:hover
{
    text-decoration: underline;
}
table.screenFriendlyGridView tbody th a
{
    color: #363636;
    font-weight: normal;
    text-decoration: none;
}
table.screenFriendlyGridView tbody th a:hover
{
    color: #363636;
}
table.screenFriendlyGridView tbody td + td + td + td a
{
    background-image: url('bullet_blue.png');
    background-position: left center;
    background-repeat: no-repeat;
    color: #03476F;
    padding-left: 15px;
}
table.screenFriendlyGridView tbody td + td + td + td a:visited
{
    background-image: url('bullet_white.png');
    background-position: left center;
    background-repeat: no-repeat;
}
table.screenFriendlyGridView tbody th, tbody td
{
    text-align: left;
    vertical-align: top;
}
table.screenFriendlyGridView tfoot td
{
    background: #5C443A;
    color: #FFFFFF;
    padding-top: 3px;
}
table.screenFriendlyGridView .odd
{
    background: #fff;
}
table.screenFriendlyGridView tbody tr:hover
{
    background: #99BCBF;
    border: 1px solid #03476F;
    color: #000000;
}
